Data and information: https://www.kaggle.com/aungpyaeap/fish-market

In [1]:
import pandas as pd
from pandas import read_csv
import numpy as np
import sklearn.linear_model as lm
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import sklearn.metrics as metrics

In [2]:
filename = 'Fish.csv'
df = read_csv(filename)
df.rename(columns = df.iloc[0]).drop(df.index[0]) ;

In [3]:
df.head(10)

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
5   Bream   450.0     26.8     29.7     34.7  13.6024  4.9274
6   Bream   500.0     26.8     29.7     34.5  14.1795  5.2785
7   Bream   390.0     27.6     30.0     35.0  12.6700  4.6900
8   Bream   450.0     27.6     30.0     35.1  14.0049  4.8438
9   Bream   500.0     28.5     30.7     36.2  14.2266  4.9594

In [4]:
Sp = pd.get_dummies(df['Species'])

In [5]:
df = pd.concat([Sp, df], axis=1)
df.head(5)

,Bream,Parkki,Perch,Pike,Roach,Smelt,Whitefish,Species,Weight,Length1,Length2,Length3,Height,Width
0,1,0,0,0,0,0,0,Bream,242.0,23.2,25.4,30.0,11.5200,4.0200
1,1,0,0,0,0,0,0,Bream,290.0,24.0,26.3,31.2,12.4800,4.3056
2,1,0,0,0,0,0,0,Bream,340.0,23.9,26.5,31.1,12.3778,4.6961
3,1,0,0,0,0,0,0,Bream,363.0,26.3,29.0,33.5,12.7300,4.4555
4,1,0,0,0,0,0,0,Bream,430.0,26.5,29.0,34.0,12.4440,5.1340

In [6]:
df=df.drop(columns=['Species']) 
df.head(5)

,Bream,Parkki,Perch,Pike,Roach,Smelt,Whitefish,Weight,Length1,Length2,Length3,Height,Width
0,1,0,0,0,0,0,0,242.0,23.2,25.4,30.0,11.5200,4.0200
1,1,0,0,0,0,0,0,290.0,24.0,26.3,31.2,12.4800,4.3056
2,1,0,0,0,0,0,0,340.0,23.9,26.5,31.1,12.3778,4.6961
3,1,0,0,0,0,0,0,363.0,26.3,29.0,33.5,12.7300,4.4555
4,1,0,0,0,0,0,0,430.0,26.5,29.0,34.0,12.4440,5.1340

In [7]:
fishing_data = df.values

In [8]:
X=np.hstack([fishing_data[:, 0:7], fishing_data[:, 8:13]])
Y=fishing_data[:, 7]
scaler=MinMaxScaler(feature_range=(0, 1))
rescaled_X=scaler.fit_transform(X)

In [9]:
my_test_size=0.2
seed=2
X_train, X_test, Y_train, Y_test=train_test_split(rescaled_X, Y, test_size = my_test_size , random_state = seed)

In [10]:
model1=lm.LinearRegression()
model1.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
Y_prediction = model1.predict(X_test)
print("R-squared =", metrics.r2_score(Y_test, Y_prediction))

R-squared = 0.9145552928686721

In [12]:
model1.coef_

array([  -62.2806129 ,    63.26562702,     6.66478202,  -278.98356645,
         -17.65831967,   309.63513761,   -20.64304762, -3405.47276657,
        4386.22409328,  1066.27462479,    50.00446739,    98.69969241])

In [13]:
np.linalg.norm(model1.coef_)

5671.662873078324

In [14]:
model2=lm.Lasso(alpha=0.5, max_iter=10000)
model2.fit(X_train,Y_train )
Y_prediction = model2.predict(X_test)
print("R-squared =", metrics.r2_score(Y_test, Y_prediction))

R-squared = 0.9001323973483766

In [15]:
model2.coef_

array([  -0.        ,   47.98358756,    0.        , -198.86095118,
        -16.15026744,  262.99753468,    0.        ,    0.        ,
       1757.48004449,    0.        ,  109.10733473,  199.71859424])

In [16]:
np.linalg.norm(model2.coef_)

1803.2760939814139